{% extends 'base.html' %}

<title>{% block title %}Main | {{ block.super }} {% endblock %}</title>


{% block content %}
<div class="p-5 mt-3 mb-4 bg-danger rounded-3 text-white">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to this Blog!</h1>
      <p class="col-md-8 fs-4">Welcome to this blog page dashboard where you will find sections to access</p>
      <button class="btn btn-info btn-lg text-white" type="button">Sign Up</button>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-info rounded-3 text-white">
        <h2 class="text-center">About Us:</h2>
        <p>Find out more about this blog page</p>
        <hr>
        <button class="btn btn-warning w-100 text-white" type="button">About Us</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2 class="text-center">Blog Page: </h2>
        <p class="text-center">Access the different Blog Posts by clicking on the button below</p>
        <hr>
        <button class="btn btn-success w-100" type="button">Blog Posts</button>
      </div>
    </div>
  </div>
{% endblock %}